<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Smart-Sensor</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="source/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="source/bootstrap/bootstrap-select.min.css"/>

    <link rel="stylesheet" href="source/bootstrap/font-awesome.min.css"/>
    <link rel="stylesheet" href="source/loading/fakeLoader.css"/>

    <link rel="stylesheet" href="css/nav.css"/>
    <link rel="stylesheet" href="css/app-sidebar.css"/>
</head>
<body>
    <div class="navbar-wrapper">
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <strong><i class="fa fa-bookmark-o"></i>&nbsp; 我的应用</strong>
                <div style="margin-top: 10px" id="app-group">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a>脑电波传感器 - 测试</a></li>
                        <li><a>温湿度传感器 - 测试</a></li>
                    </ul>
                </div>
                <hr/>
                <button class="btn btn-info btn-block">新建应用</button>
                <button class="btn btn-info btn-block">编辑应用</button>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <div class="row text-center overview-title">APP状态</div>
                                    <div class="row text-center overview-content">打开</div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="row text-center overview-title">IP/端口</div>
                                    <div class="row text-center overview-content">192.168.1.1:8080</div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="row text-center overview-title">传感器数量</div>
                                    <div class="row text-center overview-content">2</div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="row text-center overview-title">数据维度</div>
                                    <div class="row text-center overview-content">3</div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer overview-panel-footer">
                            <div class="row">
                                <div class="col-md-3 col-sm-3">
                                    <button class="btn btn-default btn-block">关闭APP</button>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <button class="btn btn-default btn-block">刷新APP数据</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="sensor-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>SENSOR - 1</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div id="fakeLoader"></div>
                                    <div class="col-md-9 col-sm-9">
                                        <div style="height:400px" id="sensor-content-1"></div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <strong>传感器信息</strong>
                                        <hr/>
                                        <p>温度</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>SENSOR - 2</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div style="height:400px" id="sensor-content-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <hr style="height:1px;border:none;border-top:1px solid #9d9d9d;" />
                <footer>
                    <p align="center">@STEM.CLOUD - <strong>SMART SENSOR</strong></p>
                </footer>
            </div>
        </div>
    </div>



    <script src="source/jquery.min.js"></script>
    <script src="source/bootstrap/bootstrap.min.js"></script>
    <script>
        $.get('nav', function(msg) {
            $(".navbar-wrapper").html(msg);
            $('#navbar').find('ul:eq(0) li:eq(1)').addClass('active');
        });
    </script>

    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=mWvnGYQ74Cyd3vjIPSisiT0SRt49AioM"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>

    <script src="source/messenger/messenger.min.js"></script>
    <script src="source/bootstrap/bootstrap-select.min.js"></script>
    <script src="source/loading/fakeLoader.min.js"></script>

    <script src="source/echarts/echarts.common.min.js"></script>
    <script src="source/echarts/infographic.js"></script>

    <script src="js/common.js"></script>
    <script src="js/app-chart.js"></script>
</body>
</html>