<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Smart-Sensor</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="source/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="source/bootstrap/bootstrap-select.min.css"/>

    <link rel="stylesheet" href="source/bootstrap/font-awesome.min.css"/>

    <link rel="stylesheet" href="css/nav.css"/>
</head>
<body>
    <div class="navbar-wrapper" th:include="/module/nav::nav">
    </div>

    <div class="container-fluid">
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-8 col-md-8">
                <h4><i class="fa fa-map-o"></i><b>&nbsp; SENSOR MAP</b></h4>
                <hr style="margin-top: 0"/>
                <div id="allmap"
                     style="width: 100%; height: 600px; overflow: hidden">
                    <strong>地图无法加载</strong>
                </div>
                <div style="margin-top: 10px">
                    <div class="col-sm-2">
                        <select class="selectpicker form-control" title="更改地图主题" id="theme-select">
                            <option value="1">灰色（突出信息）</option>
                            <option value="2">默认</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info btn-block" onclick="toMark()">回到传感器中心</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <h4><i class="fa fa-bar-chart-o"></i>
                <b>&nbsp; SENSOR CHART</b></h4>
                <hr style="margin-top: 0"/>

                <div class="row">
                    <div class="col-sm-6">
                        <div style="height:200px" id="chart-pie-1"></div>
                    </div>
                    <div class="col-sm-6">
                        <div style="height:200px" id="chart-pie-2"></div>
                    </div>
                </div>
                <div style="height: 400px;margin-top: 20px" id="chart-line"></div>

            </div>
        </div>
    </div>

    <hr/>
    <footer>
        <p align="center">@STEM.CLOUD - <strong>SMART SENSOR</strong></p>
    </footer>

    <script src="source/jquery.min.js"></script>
    <script src="source/bootstrap/bootstrap.min.js"></script>

    <script dataType="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=mWvnGYQ74Cyd3vjIPSisiT0SRt49AioM"></script>
    <script dataType="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
    <script dataType="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script>


    <script src="source/messenger/messenger.min.js"></script>
    <script src="source/bootstrap/bootstrap-select.min.js"></script>

    <script src="source/echarts/echarts.common.min.js"></script>
    <script src="source/echarts/infographic.js"></script>

    <script src="js/common.js"></script>
    <script src="js/index-chart.js"></script>
    <script src="js/index-map.js"></script>

</body>
</html>