<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户登陆</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{source/bootstrap/bootstrap.min.css}"/>

    <!-- form validation -->
    <link rel="stylesheet" th:href="@{source/validation/formValidation.min.css}"/>

    <link rel="stylesheet" th:href="@{css/login.css}"/>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <div id="output"></div>
            <h3><strong>用户登陆</strong></h3>
            <div class="avatar"></div>
            <p th:if="${param.error}" class="bg-danger">有错误，请重试</p>
            <div class="form-box">
                <form id="login_form" role="form" name="form" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input name="username" type="text" placeholder="用户名"/>
                    </div>
                    <input name="password" type="password" placeholder="密码"/>
                    <!--<button type="button" class="btn btn-info btn-block login" onclick="$('#login_form').submit()">登陆</button>-->
                    <input type="submit" id="login" value="Login" class="btn btn-info btn-block login"/><!--登陆</input>-->
                </form>
            </div>
        </div>
    </div>

    <script src="source/jquery.min.js"></script>
    <script src="source/bootstrap/bootstrap.min.js"></script>

    <!-- form validation -->
    <script src="source/validation/formValidation.min.js"></script>
    <script src="source/validation/bootstrap.min.js"></script>

    <script>
        /*$('#login_form').formValidation({
            framework: 'bootstrap',
            fields: {
                account: { validators: { notEmpty: { message: 'The user_name is required'} } }
            }
        }).on('success.form.fv', function(evt) {
            evt.preventDefault();

            var parameters = $(this).serialize();
            $.ajax({
                type: "POST",
                url: "/loginPost",
                data: parameters,
                error: function(error_message) {
                    error_message("服务器错误，请联系管理员")
                },
                success: function(data) {
                    if (data.success == true)
                        window.location.href = '/';
                    else{
                        error_message("密码错误，请重试")
                    }
                }
            });
        }).on('err.form.fv', function (evt) {
            error_message("服务器错误，请联系管理员")
        });

        function error_message(message) {
            $("#output").addClass("alert alert-danger animated fadeInUp").html("<strong>" + message + "</strong>");
        }*/
    </script>
</body>
</html>