/** app css **/
body{
    background: rgba(245, 245, 245, 0.8);
    padding-top:60px;
}

.app-tab-pane-content{
    padding-top: 10px;
}

/** app-show.html **/
.app-show-sensor-title{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}

.app-show-sensor-content{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #eeeeee;
}