<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="app-analysis">
        <div class="app-main-content">
            <div class="row">
                <!-- 传感器数据浏览 -->
                <div id="analysis-sensor-group">
                    <th:block th:each="sensor,index:${sensors}">
                        <th:block th:if="${sensor.type == 1}">
                            <div class="col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-hashtag"></i>&nbsp;<strong th:text="|${sensor.id}:${sensor.name}|"></strong>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="analysis-sensor-content" th:id="|analysis-chart-${sensor.id}|"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>

            <div class="row">
                <!-- 数据回放面板 -->
                <div class="col-sm-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="data-recorder-panel-heading">
                                <div class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#data-recorder-panel-body"
                                       aria-expanded="true" aria-controls="data-recorder-panel-body">
                                        <i class="fa fa-video-camera"></i>&nbsp;<strong>数据回放</strong>

                                        <span class="recorder-time-view pull-right">
                                        <i class="fa fa-clock-o" style="margin-left: 20px"></i>&nbsp;
                                        <span id="recorder-clock"></span></span>
                                    </a>
                                </div>
                            </div>
                            <div id="data-recorder-panel-body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="data-recorder-panel-heading">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- 数据配置 -->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4>数据时间范围参考<br/><small>请谨慎选取时间范围，超出范围的数据将不会在回放数据中出现</small></h4>
                                                    <hr/>
                                                    <div id="data-duration-info" class="recorder-duration-info">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <form id="data-recorder-form" class="form-horizontal data-recorder-form">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">数据起始时间：</label>
                                                            <div class="col-sm-9">
                                                                <div class="input-group">
                                                                    <input type="text" id="start-picker" name="start-picker" class="form-control" value="2017-09-03 14:25:00"/>
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">数据结束时间：</label>
                                                            <div class="col-sm-9">
                                                                <div class="input-group">
                                                                    <input type="text" id="end-picker" name="end-picker" class="form-control" value="2017-09-03 14:26:00"/>
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">选取传感器：</label>
                                                            <div class="col-sm-9">
                                                                <div class="checkbox" id="data-recorder-sensor-select">
                                                                    <th:block th:each="sensor,index:${sensors}">
                                                                        <label><input type="checkbox" th:value="${sensor.id}" th:text="${sensor.name}"/></label>
                                                                    </th:block>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-3 col-sm-9">
                                                                <button class="btn btn-default btn-block">
                                                                    <i class="fa fa-check-circle-o"></i>&nbsp;构建回放数据</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- 数据展示 -->
                                            <div class="row">
                                                <div id="data-recorder-video" class="col-sm-12" hidden="hidden">
                                                </div>
                                                <div id="data-recorder-chart" class="col-sm-12" hidden="hidden">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 回放相关操作 -->
                                    <div class="row">
                                        <div class="col-sm-12" id="data-recorder-control" hidden="hidden">
                                            <hr/>
                                            <div class="btn-group pull-right" style="margin-right: 30px">
                                                <button id="play-btn" class="btn btn-success" onclick="recorderPlay()"><i class="fa fa-play"></i>&nbsp;回放</button>
                                                <button id="pause-btn" class="btn btn-warning" onclick="recorderPause()" disabled="disabled"><i class="fa fa-pause"></i>&nbsp;暂停</button>
                                                <button id="reset-btn" class="btn btn-danger" onclick="recorderReset()"><i class="fa fa-stop"></i>&nbsp;重置</button>
                                            </div>

                                            <div class="btn-group pull-right" style="margin-right: 30px">
                                                <button id="backward-btn" class="btn btn-default"><i class="fa fa-backward"></i>&nbsp;后退五秒</button>
                                                <button id="forward-btn" class="btn btn-default"><i class="fa fa-forward"></i>&nbsp;前进五秒</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:include="module/footer::sub-footer"></div>
    </div>
</body>
</html>