<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- navbar header -->
    <div id="socketbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right" style="border-left:solid 1px #d9d9de; margin-right: 10px">
            <a href="#" onclick="startSocket()"><i class="fa fa-toggle-right fa-fw"></i>&nbsp; 启动Socket</a>
            <a href="#" onclick="stopSocket()"><i class="fa fa-ban fa-fw  fa-fw"></i>&nbsp; 关闭Socket</a>
        </ul>
    </div>
</nav>
<script src="js/dependency/jquery.min.js"></script>
<script src="js/socket/setsocket.js"></script>

</body>
</html>
